<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>chat</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div>
    <br/>
    <textarea id="message" cols="100" rows="9"></textarea> <button onclick="send()">发送消息</button>
    <br/>
    <br/>
    <textarea id="text_content" readonly="readonly" cols="100" rows="9" placeholder="返回内容"></textarea>
    <br/>
    <br/>
</div>
</body>
<script>
    const websocket = new WebSocket("ws://123.249.77.250:8092/websocket/" + getUUID());

    websocket.onopen = function (){
        websocket.send("connect success ......");
    }

    function getUUID(){
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g,function (c){
            const r = Math.random() * 16 | 0;
            const v = c === 'x'?r:(r & 0x3 | 0x8);
            return v.toString(16);
        })
    }

    function send(){
        const message = $('#message').val();
        websocket.send(message);
    }

    websocket.onclose = function (){
        this.$message.error("通道已关闭 请检查！！！！ ");
        console.log('websocket close');
    }

    websocket.onmessage = function (msg){
        const server = msg.data;
        $('#text_content').append(server + '\n');
    }

    websocket.onerror = function (){
        this.$message.error("通道发生错误 请检查！！！！ ");
        console.log('websocket error');
    }
</script>
</html>