<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">	
	<title>404</title>
	<script type="text/javascript">
	</script>
	
</head>

<body>
	<section>
	  <div class="container">
		<div class="row">
		  <div>
			<h1>404</h1>
			<h2 style="font-family:'microsoft yahei'">如果你来到这里，说明页面已经丢失！</h2>
			<p>It looks like you're lost...</p>
		  </div>
		</div>
	  </div>
	</section>
	<section class="">
	  <div class="container">
		<div class="row">
		  <div class="col-sm-12">
			<div class="illustration">
			  <div class="island"></div>
			  <div class="char"></div>
			  <div class="hand"></div>
			</div>
		  </div>
		</div>
	  </div>
	</section>
	<section class="">
	  <div class="container">
		<div class="row">
		  <div class="col-sm-12">
			</div>
		</div>
	  </div>
	</section>
</body>
</html>