<!DOCTYPE html><!--[if IE]>  <html class="stl_ie"> <![endif]-->
<html>
	<head>
		<meta charset="utf-8" />
		<title>
		</title>
		<link rel="stylesheet" type="text/css" href="1_1_files/style.css" />
	</head>
	<body>
		<div class="stl_ stl_02">
			<div class="stl_03">
				<object data="1_1_files/img_03.svg" type="image/svg+xml" class="stl_04" style="position:absolute; width:49.5833em; height:70.0833em;">
					<embed src="1_1_files/img_03.svg" type="image/svg+xml" />
				</object>
			</div>
			<div class="stl_view">
				<div class="stl_05 stl_06">
					<div class="stl_01" style="left:18.8042em;top:8.9822em;"><span class="stl_07 stl_08 stl_09">家政服务协议合同 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:11.4179em;"><span class="stl_10 stl_08 stl_09">甲方： &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:12.9903em;"><span class="stl_10 stl_08 stl_09">乙方： &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:14.5627em;"><span class="stl_10 stl_08 stl_09">甲方根据乙方提出的保洁服务要求，甲方代表将甲方拟定的《客户须知</span><span class="stl_11 stl_08 stl_09">)</span><span class="stl_10 stl_08 stl_09">、《保洁服务计划》及保洁 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:16.1352em;"><span class="stl_10 stl_08 stl_09">服务价格向乙方作说明介绍。乙方经过镇重考虑后，甲乙双方本着平等自愿的原则，特达成如下协 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:17.7076em;"><span class="stl_10 stl_08 stl_09">议： &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:19.28em;"><span class="stl_10 stl_08 stl_09">一</span><span class="stl_11 stl_08 stl_09" style="word-spacing:0.2959em;">. </span><span class="stl_10 stl_08 stl_09">协议服务项目：年卡保洁服务 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:20.8524em;"><span class="stl_10 stl_08 stl_09">二</span><span class="stl_11 stl_08 stl_09" style="word-spacing:0em;">. </span><span class="stl_10 stl_08 stl_09">保洁服务期限： &nbsp;</span></div>
					<div class="stl_01" style="left:15.5339em;top:20.8524em;"><span class="stl_10 stl_08 stl_09" style="word-spacing:0.0459em;">年 ，自</span><span class="stl_11 stl_08 stl_09">___</span><span class="stl_10 stl_08 stl_09">年</span><span class="stl_11 stl_08 stl_09">___</span><span class="stl_10 stl_08 stl_09">月</span><span class="stl_11 stl_08 stl_09">___</span><span class="stl_10 stl_08 stl_09">日始至 &nbsp;</span></div>
					<div class="stl_01" style="left:29.5489em;top:20.8524em;"><span class="stl_10 stl_08 stl_09">年</span><span class="stl_11 stl_08 stl_09">___</span><span class="stl_10 stl_08 stl_09">月</span><span class="stl_11 stl_08 stl_09">___</span><span class="stl_10 stl_08 stl_09">日止。 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:22.4248em;"><span class="stl_10 stl_08 stl_09">三</span><span class="stl_11 stl_08 stl_09" style="word-spacing:0em;">. </span><span class="stl_10 stl_08 stl_09">甲方承诺的责任与义务 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:23.9972em;"><span class="stl_11 stl_08 stl_12" style="word-spacing:0.0013em;">1. </span><span class="stl_10 stl_08 stl_09">在保洁服务有效期内，保证按照保洁服务协议完成，为乙提供规定的各项保洁服务，否则承担违 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:25.5697em;"><span class="stl_10 stl_08 stl_09">约赔偿责任。 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:27.1421em;"><span class="stl_11 stl_08 stl_12" style="word-spacing:0.0013em;">2. </span><span class="stl_10 stl_08 stl_09">按照约定服务时间、服务内容及服务人数，派出服务人员为乙方提供保洁服务。 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:28.7145em;"><span class="stl_11 stl_08 stl_12" style="word-spacing:0.0013em;">3. </span><span class="stl_10 stl_08 stl_09">保洁服务人员每次为乙方服务时，必须按照保洁服务计划完成，不得简化、减少服务程序和内容 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:30.2869em;"><span class="stl_10 stl_08 stl_09">，确保服务质量。 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:31.8593em;"><span class="stl_11 stl_08 stl_09" style="word-spacing:0em;">4. </span><span class="stl_10 stl_08 stl_09">保洁服务所需的设备工具，清洗材料、消毒剂等必备用品，甲方均自备。不得使用乙方任何工具 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:33.4317em;"><span class="stl_10 stl_08 stl_09">和材料（水、电除外）。 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:35.0042em;"><span class="stl_11 stl_08 stl_12" style="word-spacing:0.0013em;">5. </span><span class="stl_10 stl_08 stl_09">在协议有效期内，若要延长或者变更服务时间、必须证得乙方同意．未经乙方许可。均按照协议 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:36.5766em;"><span class="stl_10 stl_08 stl_09">执行。 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:38.149em;"><span class="stl_10 stl_08 stl_09">四</span><span class="stl_11 stl_08 stl_09" style="word-spacing:0em;">. </span><span class="stl_10 stl_08 stl_09">乙方承诺的责任与义务 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:39.7214em;"><span class="stl_11 stl_08 stl_12" style="word-spacing:0.0013em;">1. </span><span class="stl_10 stl_08 stl_09">在保洁服务有效期以．配合甲方完成保洁服务。由于乙方原因，在协议有效期内造成甲方不能履 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:41.2938em;"><span class="stl_10 stl_08 stl_09">行协议或不能完成乙方保洁服务而超出协议有效期，甲方不再为乙方提供保洁服务。 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:42.8662em;"><span class="stl_11 stl_08 stl_12" style="word-spacing:0.0013em;">2. </span><span class="stl_10 stl_08 stl_09">乙方必须按照协议约定服务时间、地点，提前做好准各工作，为甲方完成保洁服务提供便利。 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:44.4387em;"><span class="stl_11 stl_08 stl_12" style="word-spacing:0.0013em;">3. </span><span class="stl_10 stl_08 stl_09">乙方必须提供有效的保洁服务地点和建筑面积证明材料，保证服务面积准确性。 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:46.0111em;"><span class="stl_11 stl_08 stl_12" style="word-spacing:0.0013em;">4. </span><span class="stl_10 stl_08 stl_09">乙方不得随意要求甲方保洁人员更改保洁服务计划和保洁时间，不得提出不在保洁范围内的服务 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:47.5835em;"><span class="stl_10 stl_08 stl_09">要求。 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:49.1559em;"><span class="stl_11 stl_08 stl_12" style="word-spacing:0.0013em;">5. </span><span class="stl_10 stl_08 stl_09">保洁服务完成以后，乙方有检查、验收的责任，包括服务质量、家庭财产、财物是否有损坏与丢 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:50.7283em;"><span class="stl_10 stl_08 stl_09">失，并及时与甲方联系。 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:52.3007em;"><span class="stl_10 stl_08 stl_09">注：如乙方家中有不得触碰的贵重物品或高端家具请在签订协议前告知（填写在《乙方情况登记表 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:53.8732em;"><span class="stl_10 stl_08 stl_09">》中），甲方会提前通知保洁服务人员并做好保密工作。 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:55.4456em;"><span class="stl_10 stl_08 stl_09">五</span><span class="stl_11 stl_08 stl_09" style="word-spacing:0em;">. </span><span class="stl_10 stl_08 stl_09">争议处理 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:57.018em;"><span class="stl_11 stl_08 stl_12" style="word-spacing:0.0013em;">1. </span><span class="stl_10 stl_08 stl_09">在保洁服务有效期内，甲乙双方若发生争议，应本着签议约定责任与义务分析争议原因，在互谅 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:58.5904em;"><span class="stl_10 stl_08 stl_09">互让，友好合作的原则下，平等协商解决。 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:60.1628em;"><span class="stl_11 stl_08 stl_09" style="word-spacing:0em;">2. </span><span class="stl_10 stl_08 stl_09">由于一方原因，造成双方不能继续履行协议，且责任方承认责任，应给对方造成的损失予以赔偿 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:61.7352em;"><span class="stl_10 stl_08 stl_09">，赔偿额度双方商议。 &nbsp;</span></div>
					<div class="stl_01" style="left:24.6167em;top:65.7528em;"><span class="stl_13 stl_14 stl_09">1</span></div>
				</div>
			</div>
		</div>
	</body>
</html>