<!DOCTYPE html><!--[if IE]>  <html class="stl_ie"> <![endif]-->
<html>
	<head>
		<meta charset="utf-8" />
		<title>
		</title>
		<link rel="stylesheet" type="text/css" href="2_1_files/style.css" />
	</head>
	<body>
		<div class="stl_ stl_02">
			<div class="stl_03">
				<object data="2_1_files/img_03.svg" type="image/svg+xml" class="stl_04" style="position:absolute; width:49.5833em; height:70.0833em;">
					<embed src="2_1_files/img_03.svg" type="image/svg+xml" />
				</object>
			</div>
			<div class="stl_view">
				<div class="stl_05 stl_06">
					<div class="stl_01" style="left:4.725em;top:8.8449em;"><span class="stl_07 stl_08 stl_09" style="word-spacing:0.0013em;">3. </span><span class="stl_10 stl_08 stl_11">在争议无法解决的情况下，甲乙双方可到任何一方所在地的仲裁机构要求仲裁，也可到任何一方 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:10.4173em;"><span class="stl_10 stl_08 stl_11">所在地的人民法院起诉解决。 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:11.9897em;"><span class="stl_07 stl_08 stl_09" style="word-spacing:0.0013em;">4. </span><span class="stl_10 stl_08 stl_11">本协议一式两份，甲乙双方各持一份。本协议未尽事宜，双方协商可做补充协议。 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:13.5622em;"><span class="stl_07 stl_08 stl_09" style="word-spacing:0.0013em;">5. </span><span class="stl_10 stl_08 stl_11">本协议所列《客服服务须知》、《保洁服务计划》、《乙方情况登记表》，均属协议内容，具有 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:15.1346em;"><span class="stl_10 stl_08 stl_11">法律效力，本协议经双方签字盖章后即可生效。 &nbsp;</span></div>
					<div class="stl_01" style="left:22.1375em;top:16.805em;"><span class="stl_12 stl_08 stl_11">客户须知 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:19.4941em;"><span class="stl_07 stl_08 stl_09" style="word-spacing:0.0013em;">1. </span><span class="stl_10 stl_08 stl_11">业务服务人员在做服务介绍时，都持有我司印制的正式服务协议书，并加盖我司服务协议公章。 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:21.0665em;"><span class="stl_10 stl_08 stl_11">客户签订协议缴费后，业务服务人员开具加盖我司财务公章的统一收据。 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:23.1389em;"><span class="stl_07 stl_08 stl_09" style="word-spacing:0.0013em;">2. </span><span class="stl_10 stl_08 stl_11">在与公司签订正式服务协议之前，请客户仔细阅读《客户须知》、《保洁服务计划》业务服务人 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:24.7113em;"><span class="stl_10 stl_08 stl_11">员会给您做详细解释说明。 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:26.7837em;"><span class="stl_07 stl_08 stl_09" style="word-spacing:0.0013em;">3. </span><span class="stl_10 stl_08 stl_11" style="word-spacing:0em;">我司运营中心在接到正式签订协议后，会在 </span><span class="stl_07 stl_08 stl_09" style="word-spacing:-0.0537em;">48 </span><span class="stl_10 stl_08 stl_11">小时内我司和与客户就所签订服务协议内容与客户 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:28.3562em;"><span class="stl_10 stl_08 stl_11">进行核实确认。 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:30.4286em;"><span class="stl_07 stl_08 stl_09" style="word-spacing:0.0013em;">4. </span><span class="stl_10 stl_08 stl_11" style="word-spacing:0.023em;">每次服务保洁前 公司运营会提前 </span><span class="stl_07 stl_08 stl_11" style="word-spacing:-0.0549em;">1-2 </span><span class="stl_10 stl_08 stl_11">天提示客户，请提前做好准备。 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:32.501em;"><span class="stl_07 stl_08 stl_09" style="word-spacing:0.0013em;">5. </span><span class="stl_10 stl_08 stl_11">客户约定服务保洁时间后，因个人原因无法进行此次保洁，应提前至少三天通知运营中心。重新 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:34.0734em;"><span class="stl_10 stl_08 stl_11">确定新日期，新日期无法再次更改。若在新日期时客户仍因个人原因无法进行此次保洁，视此次保 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:35.6458em;"><span class="stl_10 stl_08 stl_11">洁已完成。 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:37.7182em;"><span class="stl_10 stl_08 stl_11">注：新日期为原日期的前三天到后三天。 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:39.7907em;"><span class="stl_07 stl_08 stl_09" style="word-spacing:0.0013em;">6. </span><span class="stl_10 stl_08 stl_11" style="word-spacing:0.0459em;">保洁员在开始服务前，会告知客户“贵重物品请自理好” 公司规定保洁员“柜门不拉，抽屉不 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:41.3631em;"><span class="stl_10 stl_08 stl_11">开”如客户发现保洁员违反规定，应立即叫停服务，并电话联系公司运营中心。 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:43.4355em;"><span class="stl_07 stl_08 stl_09" style="word-spacing:0.0013em;">7. </span><span class="stl_10 stl_08 stl_11">每次保洁员保洁服务结束后，客户应仔细检查服务质量，认真查看家中财物和贵重物品是否有损 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:45.0079em;"><span class="stl_10 stl_08 stl_11">坏和丢失。若有损坏和丢失，请立即报警然后与公司联系，公司会派客服经理到现场协助解决，期 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:46.5803em;"><span class="stl_10 stl_08 stl_11">间保洁员不得离开现场。若无财物和贵重物品丢失和损坏且客户已在派工单上签字确认保洁员可离 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:48.1527em;"><span class="stl_10 stl_08 stl_11">开，公司不再接受客户的投诉和理赔要求。 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:50.2252em;"><span class="stl_07 stl_08 stl_09" style="word-spacing:0.0013em;">8. </span><span class="stl_10 stl_08 stl_11">如在服务时间内客户发现保洁员态度恶劣，服务质量不好，或在服务时间内对客户存在“吃” &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:51.7976em;"><span class="stl_10 stl_08 stl_11">“要”“拿”的语言和行为引导，误导客户减少服务内容。请及时拨打客户中心进行投诉，公司给 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:53.37em;"><span class="stl_10 stl_08 stl_11">您满意答复。 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:55.4424em;"><span class="stl_07 stl_08 stl_09" style="word-spacing:0.0013em;">9. </span><span class="stl_10 stl_08 stl_11">客户如需更改或增加服务项目，请联系客服中心联系协商，请勿与保洁员商议解决。未经本公司 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:57.0148em;"><span class="stl_10 stl_08 stl_11">许可的任何变动，本公司不予承认，由此引发的投诉和理赔事件，本公司不予解决。 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:59.0872em;"><span class="stl_07 stl_08 stl_13" style="word-spacing:-0.0003em;">10. </span><span class="stl_10 stl_08 stl_11">客户连续三次对服务质量不满意（以派工单客户意见栏为准）客户有权提出解除协议，并按照单 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:60.6597em;"><span class="stl_10 stl_08 stl_11">次费用乘保洁次数扣除保洁费，余款公司将于七日内退回客户账户。 &nbsp;</span></div>
					<div class="stl_01" style="left:24.6167em;top:65.7528em;"><span class="stl_14 stl_15 stl_11">2</span></div>
				</div>
			</div>
		</div>
	</body>
</html>