<!DOCTYPE html><!--[if IE]>  <html class="stl_ie"> <![endif]-->
<html>
	<head>
		<meta charset="utf-8" />
		<title>
		</title>
		<link rel="stylesheet" type="text/css" href="3_1_files/style.css" />
	</head>
	<body>
		<div class="stl_ stl_02">
			<div class="stl_03">
				<object data="3_1_files/img_03.svg" type="image/svg+xml" class="stl_04" style="position:absolute; width:49.5833em; height:70.0833em;">
					<embed src="3_1_files/img_03.svg" type="image/svg+xml" />
				</object>
			</div>
			<div class="stl_view">
				<div class="stl_05 stl_06">
					<div class="stl_01" style="left:4.725em;top:8.8449em;"><span class="stl_07 stl_08 stl_09" style="word-spacing:-0.0003em;">11. </span><span class="stl_10 stl_08 stl_11">因客户个人原因不能继续履行保洁服务协议时，服务不满三个月的按照三个月扣费，已满三个月 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:10.4173em;"><span class="stl_10 stl_08 stl_11" style="word-spacing:0em;">的，公司将扣除余款的 </span><span class="stl_07 stl_08 stl_11">20%</span><span class="stl_10 stl_08 stl_11">，剩余款于七日内退回客户账户 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:12.4897em;"><span class="stl_07 stl_08 stl_09" style="word-spacing:-0.0003em;">12. </span><span class="stl_10 stl_08 stl_11">派工单是我司为客户提供的保洁服务证明，也是公司听取客户建议的渠道，更是我司对保洁员监 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:14.0622em;"><span class="stl_10 stl_08 stl_11">督和管理的手段，请客户认真填写派工单。 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:16.1346em;"><span class="stl_07 stl_08 stl_09" style="word-spacing:-0.0003em;">13. </span><span class="stl_10 stl_08 stl_11">我司将定期派人或者电话对客户进行回访，如客户对我司有任何意见和要求，请及时反馈给我们 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:17.707em;"><span class="stl_10 stl_08 stl_11">。</span></div>
					<div class="stl_01" style="left:21.3042em;top:19.8383em;"><span class="stl_12 stl_08 stl_11">保洁服务流程 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:22.2807em;"><span class="stl_10 stl_08 stl_11">尊敬的客户：您好！ &nbsp;</span></div>
					<div class="stl_01" style="left:6.5583em;top:24.3531em;"><span class="stl_10 stl_08 stl_11">非常感谢您对本公司的认可，同时也担荣幸能由我们为您的居室提供长期保洁服务为了使我们 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:25.9255em;"><span class="stl_10 stl_08 stl_11">的服务更有续、更专业，公司制订了一套每月保洁服务流程计划，希望意与我们合作。谢谢！ &nbsp;</span></div>
					<div class="stl_01" style="left:21.3042em;top:29.3076em;"><span class="stl_12 stl_08 stl_11">每月保洁流程 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:33.1675em;"><span class="stl_10 stl_08 stl_11">大保洁</span><span class="stl_07 stl_08 stl_11">:</span><span class="stl_10 stl_08 stl_11">人数</span><span class="stl_07 stl_08 stl_09" style="word-spacing:-0.0554em;">:2-3 </span><span class="stl_10 stl_08 stl_09" style="word-spacing:-0.0554em;">人 &nbsp;</span></div>
					<div class="stl_01" style="left:16.6987em;top:33.1675em;"><span class="stl_10 stl_08 stl_11">时间：</span><span class="stl_07 stl_08 stl_11" style="word-spacing:-0.0549em;">4-5 </span><span class="stl_10 stl_08 stl_11">小时 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:35.2399em;"><span class="stl_10 stl_08 stl_11" style="word-spacing:0.0459em;">卧室 </span><span class="stl_07 stl_08 stl_11" style="word-spacing:0em;">: </span><span class="stl_10 stl_08 stl_11">玻璃、窗框、滑道、纱窗、窗台、窗帘杆、家具、地面、空调、暖气、门框、门。 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:37.3123em;"><span class="stl_10 stl_08 stl_11" style="word-spacing:0.0459em;">客厅 </span><span class="stl_07 stl_08 stl_11" style="word-spacing:0em;">: </span><span class="stl_10 stl_08 stl_11" style="word-spacing:0.0459em;">玻璃、窗框、滑道、纱窗、家具、地面、空调、暖气、茶几、 防盗门 </span><span class="stl_07 stl_08 stl_11">(</span><span class="stl_10 stl_08 stl_11">内、外）。 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:39.3847em;"><span class="stl_10 stl_08 stl_11" style="word-spacing:0.0459em;">阳台 </span><span class="stl_07 stl_08 stl_11" style="word-spacing:0em;">: </span><span class="stl_10 stl_08 stl_11">玻璃、窗框、滑道，纱窗、墙砖、</span><span class="stl_07 stl_08 stl_11" style="word-spacing:-0.0548em;">PVC </span><span class="stl_10 stl_08 stl_11">顶，晾帘杆、地面。 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:41.4572em;"><span class="stl_10 stl_08 stl_11">厨房：地面，</span><span class="stl_07 stl_08 stl_11" style="word-spacing:-0.0548em;">PVC </span><span class="stl_10 stl_08 stl_11">顶、墙砖，灶台、灶具表面、油烟机表面、橱柜表面、冰箱、微波炉表面、门框 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:43.0296em;"><span class="stl_10 stl_08 stl_11">，门。 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:45.102em;"><span class="stl_10 stl_08 stl_11" style="word-spacing:0.0459em;">卫生间 </span><span class="stl_07 stl_08 stl_11" style="word-spacing:0em;">: </span><span class="stl_10 stl_08 stl_11">地面、</span><span class="stl_07 stl_08 stl_11" style="word-spacing:-0.0548em;">PVC </span><span class="stl_10 stl_08 stl_11">顶、地砖、马桶</span><span class="stl_07 stl_08 stl_11">(</span><span class="stl_10 stl_08 stl_11">内、外</span><span class="stl_07 stl_08 stl_11">)</span><span class="stl_10 stl_08 stl_11">、洁具、淋浴房、暖气，门、门框。 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:47.1744em;"><span class="stl_10 stl_08 stl_11" style="word-spacing:0.0459em;">注 </span><span class="stl_07 stl_08 stl_11" style="word-spacing:0em;">: </span><span class="stl_10 stl_08 stl_11">大保洁 </span><span class="stl_07 stl_08 stl_13" style="word-spacing:-0.0537em;">30 </span><span class="stl_10 stl_08 stl_11">平米以内扫房以及小型可动家具</span><span class="stl_07 stl_08 stl_11">(</span><span class="stl_10 stl_08 stl_11">沙发、饮水机、床头柜）后面卫生死角的清洁。 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:49.2468em;"><span class="stl_10 stl_08 stl_11">小保洁</span><span class="stl_07 stl_08 stl_11">:</span><span class="stl_10 stl_08 stl_11">人数 </span><span class="stl_07 stl_08 stl_11">2-3 &nbsp;</span></div>
					<div class="stl_01" style="left:15.2984em;top:49.2468em;"><span class="stl_10 stl_08 stl_11">时间：</span><span class="stl_07 stl_08 stl_11" style="word-spacing:-0.0549em;">2-3 </span><span class="stl_10 stl_08 stl_11">小时 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:51.3192em;"><span class="stl_10 stl_08 stl_11" style="word-spacing:0.0459em;">卧室 </span><span class="stl_07 stl_08 stl_11" style="word-spacing:0em;">: </span><span class="stl_10 stl_08 stl_11">家具、地面、窗台、门、门框 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:53.3917em;"><span class="stl_10 stl_08 stl_11" style="word-spacing:0.0459em;">客厅 ：家具、地园、防盗门。 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:55.4641em;"><span class="stl_10 stl_08 stl_11" style="word-spacing:0.0459em;">阳台 </span><span class="stl_07 stl_08 stl_11" style="word-spacing:0em;">: </span><span class="stl_10 stl_08 stl_11">地面 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:57.5365em;"><span class="stl_10 stl_08 stl_11" style="word-spacing:0.0459em;">厨房 </span><span class="stl_07 stl_08 stl_11" style="word-spacing:0em;">: </span><span class="stl_10 stl_08 stl_11">灶台、灶具、地面、油烟机表面、门、门框 &nbsp;</span></div>
					<div class="stl_01" style="left:4.725em;top:59.6089em;"><span class="stl_10 stl_08 stl_11">卫生间</span><span class="stl_07 stl_08 stl_11">:</span><span class="stl_10 stl_08 stl_11">洁具、地面、门框、门 &nbsp;</span></div>
					<div class="stl_01" style="left:24.6167em;top:65.7528em;"><span class="stl_14 stl_15 stl_11">3</span></div>
				</div>
			</div>
		</div>
	</body>
</html>