<!DOCTYPE html><!--[if IE]>  <html class="stl_ie"> <![endif]-->
<html>
	<head>
		<meta charset="utf-8" />
		<title>
		</title>
		<link rel="stylesheet" type="text/css" href="4_1_files/style.css" />
	</head>
	<body>
		<div class="stl_ stl_02">
			<div class="stl_03">
				<object data="4_1_files/img_03.svg" type="image/svg+xml" class="stl_04" style="position:absolute; width:49.5833em; height:70.0833em;">
					<embed src="4_1_files/img_03.svg" type="image/svg+xml" />
				</object>
			</div>
			<div class="stl_view">
				<div class="stl_05 stl_06">
					<div class="stl_01" style="left:5.1958em;top:9.3866em;"><span class="stl_07 stl_08 stl_09">姓名 &nbsp;</span></div>
					<div class="stl_01" style="left:21.1125em;top:9.3866em;"><span class="stl_07 stl_08 stl_09">保洁地点 &nbsp;</span></div>
					<div class="stl_01" style="left:5.1958em;top:12.0007em;"><span class="stl_07 stl_08 stl_09">联系电话 &nbsp;</span></div>
					<div class="stl_01" style="left:5.1958em;top:14.6147em;"><span class="stl_07 stl_08 stl_09">保洁服务次数 &nbsp;</span></div>
					<div class="stl_01" style="left:21.1125em;top:12.0007em;"><span class="stl_07 stl_08 stl_09">房屋建筑面积 &nbsp;</span></div>
					<div class="stl_01" style="left:20.3em;top:14.6147em;"><span class="stl_07 stl_08 stl_09" style="word-spacing:1.2295em;">大保洁（ ）</span><span class="stl_07 stl_08 stl_09" style="word-spacing:0.6377em;">&nbsp;</span><span class="stl_07 stl_08 stl_09">小保洁（ &nbsp;</span></div>
					<div class="stl_01" style="left:31.8049em;top:14.6147em;"><span class="stl_07 stl_08 stl_09">）</span></div>
					<div class="stl_01" style="left:5.1958em;top:17.2288em;"><span class="stl_07 stl_08 stl_09">说明：节日小保洁时间均由甲方统一安排不在协议约定之内 &nbsp;</span></div>
					<div class="stl_01" style="left:5.1958em;top:19.8429em;"><span class="stl_07 stl_08 stl_09" style="word-spacing:0.6377em;">第一次保洁服务时间： 年</span><span class="stl_07 stl_08 stl_09" style="word-spacing:6.4843em;">&nbsp;</span><span class="stl_07 stl_08 stl_09" style="word-spacing:1.8213em;">星期 上午</span><span class="stl_07 stl_08 stl_09" style="word-spacing:0.0459em;">&nbsp;</span><span class="stl_10 stl_11 stl_09" style="word-spacing:0.6377em;"> </span><span class="stl_07 stl_08 stl_09" style="word-spacing:0.0459em;">下午 </span><span class="stl_10 stl_11 stl_09" style="word-spacing:0.0459em;"> &nbsp;</span></div>
					<div class="stl_01" style="left:17.2432em;top:22.457em;"><span class="stl_07 stl_08 stl_09" style="word-spacing:0.0459em;">上午 </span><span class="stl_10 stl_11 stl_09" style="word-spacing:0.6377em;"> </span><span class="stl_07 stl_08 stl_09" style="word-spacing:0.0459em;">下午 </span><span class="stl_10 stl_11 stl_09" style="word-spacing:0.0459em;"> &nbsp;</span></div>
					<div class="stl_01" style="left:20.9333em;top:25.0711em;"><span class="stl_07 stl_08 stl_09">保洁服务地点基本情况 &nbsp;</span></div>
					<div class="stl_01" style="left:16.3833em;top:27.6852em;"><span class="stl_07 stl_08 stl_09" style="word-spacing:0.8182em;">卫生间 阳台</span><span class="stl_07 stl_08 stl_09" style="word-spacing:1.2273em;">&nbsp;</span><span class="stl_07 stl_08 stl_09" style="word-spacing:1.0909em;">露台 小院 地板面积</span><span class="stl_07 stl_08 stl_09" style="word-spacing:0.9318em;">&nbsp;</span><span class="stl_07 stl_08 stl_09" style="word-spacing:1.0341em;">瓷砖面积 玻璃面积 其他 &nbsp;</span></div>
					<div class="stl_01" style="left:17.4491em;top:19.8429em;"><span class="stl_07 stl_08 stl_09">月</span></div>
					<div class="stl_01" style="left:19.7219em;top:19.8429em;"><span class="stl_07 stl_08 stl_09">日</span></div>
					<div class="stl_01" style="left:5.1958em;top:22.457em;"><span class="stl_07 stl_08 stl_09">固定服务时间： &nbsp;</span></div>
					<div class="stl_01" style="left:12.6975em;top:22.457em;"><span class="stl_07 stl_08 stl_09">月</span></div>
					<div class="stl_01" style="left:14.9703em;top:22.457em;"><span class="stl_07 stl_08 stl_09">日</span></div>
					<div class="stl_01" style="left:5.1958em;top:27.6852em;"><span class="stl_07 stl_08 stl_09">卧室 &nbsp;</span></div>
					<div class="stl_01" style="left:8.925em;top:27.6852em;"><span class="stl_07 stl_08 stl_09">客厅 &nbsp;</span></div>
					<div class="stl_01" style="left:12.6542em;top:27.6852em;"><span class="stl_07 stl_08 stl_09">厨房 &nbsp;</span></div>
					<div class="stl_01" style="left:5.1958em;top:33.8268em;"><span class="stl_07 stl_08 stl_09">不保洁范围： &nbsp;</span></div>
					<div class="stl_01" style="left:26.3em;top:33.8268em;"><span class="stl_07 stl_08 stl_09">特许附加服务项目： &nbsp;</span></div>
					<div class="stl_01" style="left:5.1958em;top:35.8992em;"><span class="stl_07 stl_08 stl_09">灯具，古董玉器，工艺品，玻璃器皿，餐饮用具， &nbsp;</span></div>
					<div class="stl_01" style="left:5.1958em;top:37.4717em;"><span class="stl_07 stl_08 stl_09">宠物用具，服装鞋帽。花卉盆景，玻璃吊顶，百叶 &nbsp;</span></div>
					<div class="stl_01" style="left:5.1958em;top:39.0441em;"><span class="stl_07 stl_08 stl_09">窗，字画及贵重财物。不拉柜面，不擦液晶屏幕。 &nbsp;</span></div>
					<div class="stl_01" style="left:5.1958em;top:41.6582em;"><span class="stl_07 stl_08 stl_09">优惠服务项目： &nbsp;</span></div>
					<div class="stl_01" style="left:26.3em;top:41.6582em;"><span class="stl_07 stl_08 stl_09">保洁服务费用： &nbsp;</span></div>
					<div class="stl_01" style="left:26.3em;top:43.7306em;"><span class="stl_07 stl_08 stl_09">每月服务费： &nbsp;</span></div>
					<div class="stl_01" style="left:26.3em;top:45.803em;"><span class="stl_07 stl_08 stl_09">全年服务费： &nbsp;</span></div>
					<div class="stl_01" style="left:26.3em;top:47.8754em;"><span class="stl_07 stl_08 stl_09">加项服务费： &nbsp;</span></div>
					<div class="stl_01" style="left:26.3em;top:49.9478em;"><span class="stl_07 stl_08 stl_09">其他服务费： &nbsp;</span></div>
					<div class="stl_01" style="left:26.3em;top:52.0202em;"><span class="stl_07 stl_08 stl_09">交费期限为： &nbsp;</span></div>
					<div class="stl_01" style="left:35.0549em;top:43.7306em;"><span class="stl_07 stl_08 stl_09">元</span></div>
					<div class="stl_01" style="left:35.0549em;top:45.803em;"><span class="stl_07 stl_08 stl_09">元</span></div>
					<div class="stl_01" style="left:35.0549em;top:47.8754em;"><span class="stl_07 stl_08 stl_09">元</span></div>
					<div class="stl_01" style="left:35.0549em;top:49.9478em;"><span class="stl_07 stl_08 stl_09">元</span></div>
					<div class="stl_01" style="left:35.0549em;top:52.0202em;"><span class="stl_07 stl_08 stl_09">年</span></div>
					<div class="stl_01" style="left:5.1958em;top:54.6343em;"><span class="stl_07 stl_08 stl_09">甲方： &nbsp;</span></div>
					<div class="stl_01" style="left:5.1958em;top:56.7067em;"><span class="stl_07 stl_08 stl_09">签字： &nbsp;</span></div>
					<div class="stl_01" style="left:5.1958em;top:58.7792em;"><span class="stl_07 stl_08 stl_09">盖章： &nbsp;</span></div>
					<div class="stl_01" style="left:26.3em;top:54.6343em;"><span class="stl_07 stl_08 stl_09">乙方： &nbsp;</span></div>
					<div class="stl_01" style="left:26.3em;top:56.7067em;"><span class="stl_07 stl_08 stl_09">签字： &nbsp;</span></div>
					<div class="stl_01" style="left:26.3em;top:58.7792em;"><span class="stl_07 stl_08 stl_09">盖章： &nbsp;</span></div>
					<div class="stl_01" style="left:16.0454em;top:60.8516em;"><span class="stl_07 stl_08 stl_09">年</span></div>
					<div class="stl_01" style="left:18.8608em;top:60.8516em;"><span class="stl_07 stl_08 stl_09">月</span></div>
					<div class="stl_01" style="left:21.4048em;top:60.8516em;"><span class="stl_07 stl_08 stl_09">日</span></div>
					<div class="stl_01" style="left:37.4208em;top:60.8516em;"><span class="stl_07 stl_08 stl_09">年</span></div>
					<div class="stl_01" style="left:40.2362em;top:60.8516em;"><span class="stl_07 stl_08 stl_09">月</span></div>
					<div class="stl_01" style="left:42.7803em;top:60.8516em;"><span class="stl_07 stl_08 stl_09">日</span></div>
					<div class="stl_01" style="left:24.6167em;top:65.7528em;"><span class="stl_12 stl_13 stl_09">4</span></div>
				</div>
			</div>
		</div>
	</body>
</html>