<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzw.kd.mapper.CustomerMapper" >

  <select id="getUserByOpenId"   resultType="com.gzw.kd.common.entity.Assign">
      SELECT id, customer_name customerName, address, phone, create_time createTime, update_time updateTime, `syNumber`, balance, `service_id` serviceId, openid
      FROM doc.assign  where   openid=#{openId}
  </select>

  <insert id="registerUser"  parameterType="com.gzw.kd.common.entity.Assign">

      INSERT INTO assign (customer_name, address, phone, create_time, update_time, `syNumber`, balance, `service_id`, openid)
      VALUES(#{customerName}, #{address}, #{phone}, #{createTime}, #{updateTime}, #{syNumber}, #{balance}, #{serviceId,jdbcType=VARCHAR}, #{openId});
  </insert>

  <update id="updateAssignByOpenId"  parameterType="com.gzw.kd.common.entity.Assign">
      UPDATE assign
      <set>
      <if test="updateTime!=null" >
          update_time=#{updateTime},
      </if>
      <if test="syNumber!=null" >
          syNumber=#{syNumber},
      </if>
      <if test="balance!=null" >
          balance=#{balance},
      </if>
      </set>
     <where> openid = #{openId}</where>
  </update>

    <update id="updatePhone" parameterType="string">
        UPDATE assign set phone = #{phone}, customer_name = #{customerName}  where openid=#{openId}
    </update>

    <select id="getAllNames" resultType="string">
        select customer_name from assign where balance is not null and phone is not null
    </select>
    <select id="getUserByName" resultType="com.gzw.kd.common.entity.Assign">
        select * from assign where  balance is not null and customer_name = #{customerName}
    </select>

</mapper>