<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzw.kd.mapper.SystemOperationLogMapper">

    <insert id="insertSelective" parameterType="com.gzw.kd.common.entity.SysLog">
        insert  into log (username, operation, `desc`, `time`, `method`, params, ip, create_time, location,result)
        VALUES(#{username}, #{operation}, #{desc}, #{time}, #{method}, #{params}, #{ip}, #{createTime}, #{location},#{result});
    </insert>

</mapper>